<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Meet Up</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
     <script src="../../../node_modules/angular/angular.js"></script>
  </head>
  <body ng-controller='socialController'>
    <h1>Meet Up-Open Events</h1>
    <form name="dateInput" ng-submit='getByDateLoc()'>
    <h1>date input format 1d for 1 day, 2w for 2 weeks, 3m for 3 months</h1>
    begin date:<input type='text' ng-model='begindate'>
    end date:<input type='text' ng-model='enddate'>
    zip:<input type='text' ng-model='zip'>
    radius:<input type='text' ng-model='radius'>
    <button>Submit Date and Place</button>
    </form>
   
    <h1>OR</h1>
    <h1>All Meet Up Events-Open or Closed</h1>
    <form name="groupInput" ng-submit='getByNameGrp()'>
    <h1>date input format 1d for 1 day, 2w for 2 weeks, 3m for 3 months</h1>
    begin date:<input type='text' ng-model='begindate'>
    end date:<input type='text' ng-model='enddate'>
    group name:<input type='text' ng-model='grpname'>
    <button>Submit Date and Group Name</button>
    </form>

   
    <!-- the ng-view directive is where our templates will be loaded into when navigated to -->
    <div ></div>
    <script src='socialController.js'></script>
    <script src='socialService.js'></script>
   
  </body>
</html>
