@import url(https://fonts.googleapis.com/css?family=Antic+Slab);

html {
  background: url(http://i1379.photobucket.com/albums/ah144/NadineOtt/KHzsi51455914177_zpsy4epgdqe.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;^^
  -o-background-size: cover;
  background-size: cover;
  padding: 5%;
}

body {
  font-family: 'Antic Slab', serif;
  padding-top: 10%;
  color: white;
  text-shadow: 2px 2px black;
  background-color:transparent!important;
}

#description {
  padding-top: 5%;
  padding-bottom: 3%;
  text-align: center;
  font-size: 2em;
}

.search {
  font-family: 'Antic Slab', serif;
  display: inline-block;
  margin: auto auto;
  width:13em;
  height: 2em;
  font-size: 1em;
  border-radius: 0px;
  color: black;
  background: white;
  text-decoration: none;
  border: 0;
  outline:none;
}

.search:hover {
  font-family: 'Antic Slab', serif;
  background: #d9d9d9;
  text-decoration: none;
  border: 0;
  outline:none;
}

table{
  padding-top: 3%;
  margin: auto;
  display: block;
  width: 75%;
  table-layout: fixed;
  filter: blur(5px);
  /*border: 1px solid white;*/
  word-wrap: break-word;
}

.resultsTable {
  padding-top: 3%;
  margin: auto;
  display: block;
  width: 75%;
  table-layout: fixed;

  /*removed below*/
  /*background-color: #DEB887;*/
  /*border: 1px solid white;*/
  word-wrap: break-word;
}

td {
  width: 20%;
  vertical-align: top;
  /*border: 1px solid white;*/
}

tr {
  height: 10%;
  /*border: 1px solid white;*/
}

.module {
  font-size: 2em;
  /*removed below */
  /*background-color: #DEB887;*/
  color: white;
  text-shadow: 0px 0px black;
  padding-left: .2em;
}

.location, .date {
  font-family: 'Antic Slab', serif;
  width:14em;
  height: 2em;
  font-size: 1em;
  outline: none;
  white-space: nowrap;
}

.date {
  padding-top: .45em;
}

li {
  list-style-type: none;
  font-size: .5em;
  color: white;
  text-shadow: 1px 1px black;
}

.title {
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px black;
}

.moduleTitle {
  text-align: center;
  text-shadow: 1px 1px black;
  /*removed below */
  /*background-color: #DEB887;*/
  float: top;
}

.eachEvent{
   width: 100%;
   height: 10%;
}


/*TESTING LOADING API BELOW */

/*.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}*/

