<div class='row' ng-controller="MainController">
    <div class="input-group">
        <div class='col-md-4'>
            <input type="text" class="form-control" placeholder="Location">
        </div>
        <div class="col-md-3">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="datePicker.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <button type='button' class='col-md-2 btn btn-default' ng-click='search()'>Search</div>
</div>
</div>
